@charset "UTF-8";
#hero {
background-size: cover;
height: 100vh;
margin: 0;
background: url("Bg1.jpg") no-repeat fixed center;
display: flex;
flex-direction: column;
}
#logo {
height: 210px;
width: 100%;
display: flex;
}
.nav2 #logo {
opacity: 0;
visibility: hidden;
}
#logo>a {
width: 294px;
height: 138px;
transition: transform 1s ease-in-out;
background-image: url("../logo/logovector1.svg");
}
#logo>a:hover {
transform: scale(1.1);
}
#s2 {
background-color: #7C7FC1;
background-size: cover;
}
#s3 {
background-color: #7C7FC1;
background-size: cover;
}
#bg2 {
height: 100vh;
background: url("Bg2.jpg") fixed;
}
#downbutton {
width: 60px;
height: 60px;
cursor: pointer;
position: absolute;
bottom: 0;
}