@charset "UTF-8";
#hero {
height: 100vh;
margin: 0;
background: url("Bg1.jpg") no-repeat fixed center/cover;
display: flex;
flex-direction: column;
}
#logo {
height: 210px;
width: 100%;
display: flex;
}
.nav2 #logo {
opacity: 0;
visibility: hidden;
}
#logo>a {
width: 285px;
height: 150px;
transition: transform 1s ease-in-out;
background-image: url("../logo/logovector1.svg");
}
#logo>a:hover {
transform: scale(1.08);
}
#s2 {
background: #7C7FC1;
}
#s3 {
background: #7C7FC1;
}
#bg2 {
height: 100vh;
background: url("Bg2.jpg") no-repeat fixed center/cover;
}
#downbutton {
height: 60px;
width: 100%;
display: flex;
position: absolute;
bottom: 0;
}
#downbutton>a {
height: 100%;
width: 60px;
background-image: url("../common/down-arrow-v2.png");
}
