@charset "UTF-8";
main {
background: url("Bg1.jpg") no-repeat fixed center/cover;
transition: background-image 1s ease-in-out;
}
#s1 {
display: flex;
flex-direction: column;
}
#logo {
width: 100%;
display: flex;
}
.nav2 #logo {
opacity: 0;
visibility: hidden;
}
#logo>a {
width: 285px;
height: 150px;
transition: transform 1s ease-in-out;
background-image: url("../logo/logovector1.svg");
}
#logo>a:hover {
transform: scale(1.08);
}
#s2 {
background: #7C7FC1;
}
#s3 {
background: url("Bg2.jpg") no-repeat fixed center/cover;
transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}
#s4 {
background: #7C7FC1;
}
#s5 {
background: url("Bg3.jpg") no-repeat fixed center/cover;
transform: translate3d(0,0,0);
-webkit-transform: translate3d(0,0,0);
}
