@charset "UTF-8";
nav, .navsize {
height: 45px;
}
nav a {
display: flex;
width: 100%;
height: 100%;
}
nav span {
color: black;
}
nav {
position: fixed;
list-style-type: none;
background-color: #F7F7F7;
width: 100%;
box-shadow: -1px 3px 10px 1px rgba(143,141,143,0.6);
z-index: 2;

}
nav>li {
float: right;
width: 100px;
height: 100%;
}
nav>li:hover>a {
background-color: lightgray;
}
nav>li>div {
display: none;
position: absolute;
background-color: #F9F9F9;
width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
nav>li:hover>div {
display: block;
}
nav>li>div>a {
padding-left: 16px;
height: 40px;
justify-content: left;
}
nav>li>div>a:hover {
background-color: #F1F1F1
}
#nav-j {
opacity: 0,6;
background-color: #7C7FC1;
transition:0.3;
}
#nav-j:hover{
opacity:1;
}
#nav-j>span {
color: white;
}
.MainLogo{
transition: .5s;
width:100px;
height: 140%;
cursor: pointer;
z-index:2;
float:left;
margin-bottom:10px;
}