.row {
display: flex;
flex-wrap: wrap;
width: 100%;
height : 80%
}
main {
display: flex;
flex-wrap: wrap;
height : 100%
}
#name {
flex: 30%;
padding: 20px;
height: 30%;
float: left;
}
#info {
display: flex;
flex-wrap: wrap;
background-color: #FFF2FF;
padding: 20px;
text-align : center;
height : 20%;
width: 100%;
border: 3px solid #5271FF;
margin: 50px 5px 5px 5px;
}
#gsignin {
flex: 30%;
float: right;
}
#profilePicture {
border-radius: 20%;
width: 80%;
height: 80%;
}
#friends {
flex: 16%;
background-color: white;
padding: 20px;
height : 100%;
border: 3px solid #5271FF;
margin: 5px;
}
#events {
flex: 29%;
background-color: white;
padding: 20px;
height : 100%;
border: 3px solid #5271FF;
margin: 5px;
}
#create_event {
flex: 52%;
background-color: white;
padding: 20px;
height : 100%;
border: 3px solid #5271FF;
margin: 5px;
font-size: 18px;
}
@media screen and (max-width: 700px) {
.row {
flex-direction: column;
}
}
input[type=date],input[type=time],input[type=text], input[type=reset] {
    background-color: white;
    border-width: medium;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    margin: 2px 2px;
    cursor: pointer;
}

.button {
    background-color: #A1A5FF; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.small_button {
    background-color: #A1A5FF; /* Green */
    border: none;
    color: white;
    padding: 2px 19%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

form {
//background-color: #A1A5FF;
padding: 20px;
margin: 5px;
}

form>div {
    float:left;
    padding: 15px;
    margin: 5px;
}

.event {
    background-color: white; /* Green */
    border: 1px solid #5271FF;
    color: black;
    padding: 1px 1px;
    margin: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

.event_image_container {
    border: 1px;
    color: white;
    padding: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    width: 48%;
    height: 90%;
}

.event_image {
    width: 88%;
    height: 90%;
}

.event_description {
    border: none;
    color: black;
    padding: 1px 1px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 50%;
    height: 100%;

}
.event_time {
    font-weight: bold;
}
