@charset "UTF-8";
.h {
text-align: center;
padding-bottom: 80px;
}
.t {
font-size: 60pt;
}
.FAQ {
display: flex;
flex-direction: column;
justify-content: space-around;	
}
main {
padding-top: 100px;
}
