
#hero{
background: url("background.jpg") no-repeat fixed center/cover;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.Jean {
    background-image:url("Jean.jpg");
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 250px;
    color: snow;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.Marla {
    background-image:url("Marla.jpg");
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 250px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.Daniel {
    background-image:url("Daniel.jpg");
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 250px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.Amayas {
    background-image:url("Amayas.jpg");
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 250px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.Firas {
    background-image:url("Firas.jpg");
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 250px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.New {
    background-image:url("New.jpg");
    padding: 4px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 58px;
    color: white;
    font-weight: bold;
    font-size: 0.79em;
    text-align: center;
}



