@charset "UTF-8";
* {
font-family: "Noto Sans", Roboto, Arial, sans-serif;
text-decoration: none;
box-sizing: border-box;
justify-content: center;
align-items: center;
background-size: contain;
background-repeat: no-repeat;
background-position: center;
margin: 0;
flex-wrap: wrap;
}
body, html {
scroll-behavior: smooth;
height: 100%;
}
.logo {
transition: width .5s ease-out, height .5s ease-out, opacity .5s ease-out, visibility .5s;
}
main {
padding-top: 40px;
}
main.nav3 {
padding-top: 56px;
}
main>section {
height: calc(100vh - 40px);
position: relative;
padding-bottom: 60px;
}
main.nav3>section:first-of-type {
height: calc(100vh - 56px);
}
.dest {
position: relative;
top: -40px;
display: block;
}
.downbutton {
height: 60px;
width: 100%;
display: flex;
position: absolute;
bottom: 0;
}
footer {
height: 200px;
background: #7C7FC1;
}
.downbutton>a {
height: 100%;
width: 60px;
background-image: url("down-arrow.png");
}