@charset "UTF-8";
nav, .navsize {
height: 56px;
}
nav a {
display: flex;
width: 100%;
height: 100%;
}
nav span {
transition: all 5s;
color: white;
font-size: 19px;
}
html.nav-scrolled nav span {
color: black;
font-size: 17px;
}
nav {
position: fixed;
list-style-type: none;
width: 100%;
box-shadow: none;
z-index: 2;
transition: all 10s;
background-color: transparent;
}
html.nav-scrolled nav {
height: 41px;
background-color: white;
color: black;
box-shadow: -1px 3px 10px 1px rgba(143,141,143,0.6);
}
nav>li {
float: right;
width: 100px;
height: 100%;
}
nav a :hover {
background-color: transparent;
color: #7C7FC1;
}
nav>li>div {
display: none;
position: absolute;
background-color:lightgray;
width: 160px;
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
nav>li:hover>div {
display: block;
}
nav>li>div>a {
padding-left: 16px;
height: 40px;
justify-content: left;
}
nav>li>div>a:hover {
color: #A1A5FF;
background-color: gray;
}
#nav-j {
background-color: transparent;
transition: all 10s;
}
.nav-scrolled #nav-j {
background-color: #A1A5FF;
}
#nav-j>span {
color: #A1A5FF;
}
.nav-scrolled #nav-j>span {
color: white;
}
#MainLogo {
padding: 1px 0 1px 10px;
float: left;
opacity: 0;
visibility: hidden;
}
#MainLogo>a {
background-image: url("../logo/logovector3.svg");
}
.nav-scrolled #MainLogo {
opacity: 1;
visibility: visible;
}